<div class="row">
  <div class="col-md-4"> </div>
  <div class="col-md-4 rounded login-content bg-primary padding-2">
    <form #loginForm="ngForm"  (ngSubmit)="onSubmit(loginForm.value)">
      <div class="login-header text-white">
        <h5 class="text-capitalize">{{pageType}}</h5>
      </div>
      <div class="login-body bg-white">
        
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" ngModel name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" ngModel name="password" id="password" placeholder="Password">
        </div>

      </div>
      <div class="login-footer" *ngIf="pageType==='login'">
        <button type="submit" class="btn btn-secondary" >Login</button>
        <a class="btn btn-secondary" routerLink="/register">Register</a>
        <a routerLink="/register" class="text-white" >Forget Password ?</a>
      </div>
      <div class="login-footer" *ngIf="pageType==='register'">
        <button type="submit" class="btn btn-secondary">Register</button>
        <a class="btn btn-secondary" routerLink="/login">Login</a>
      </div>
      </form>
  </div>
</div>