<div class="row">
  <div class="col-md-4"> </div>
  <div class="col-md-4 rounded login-content bg-primary padding-2">
    <form #fpForm="ngForm"  (ngSubmit)="onSubmit(fpForm.value)">
      <div class="login-header text-white">
        <h5 class="text-capitalize">{{pageType}}</h5>
      </div>
      <div class="login-body bg-white">
        
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email"  class="form-control"  #Email="ngModel" ngModel name="email" id="email" placeholder="Enter email" required email>
          <div class="text-muted" *ngIf="Email.errors && (Email.dirty || Email.touched)">
              <small [hidden]="!Email.errors.required">
                Email is required
              </small>
              <small [hidden]="(Email.errors.required || !Email.errors.email)">
                Please enter valid email address
              </small>                                   
          </div>
        </div>
        <div class="alert alert-danger" role="alert" [hidden]="!error">{{errorMsg}}</div>
      </div>
      <div class="login-footer">
        <button type="submit" [disabled]="!fpForm.form.valid || formRequest" class="btn btn-secondary" >
           <i class="fa fa-spinner fa-spin fa-fw" [hidden]="!formRequest" ></i>Submit
        </button>
      </div>
      </form>
  </div>
</div>