<div class="row">
  <div class="col-md-4"> </div>
  <div class="col-md-4 rounded login-content bg-primary padding-2">
    <form #profileForm="ngForm"  (ngSubmit)="onSubmit(profileForm.value)">
      <div class="login-header text-white">
        <h5 class="text-capitalize">Profile
          <a (click)="editProfile()" class="cursor-pointer"><i class="fa fa-pencil" aria-hidden="true"></i></a>

        </h5>
      </div>
      <div class="login-body bg-white">
        <table width="100%">
          <tr>
            <td colspan="3">
              <img [src]="profile.profile_pic" *ngIf="profile.profile_pic" width="100px" />
              <input type="file" (change)="uploadFile($event);" [hidden]="!editMode">
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td>
              <div [hidden]="editMode">
                {{profile.name}}
              </div>
              <div [hidden]="!editMode">
                <input type="name"  class="form-control" [hidden]="!editMode" #Name="ngModel" [(ngModel)]="profile.name" name="name" id="name" placeholder="Enter name" required>
                <div class="text-muted" *ngIf="Name.errors && (Name.dirty || Name.touched)">
                    <small [hidden]="!Name.errors.required">
                      Name is required
                    </small>                                 
                </div>
              </div>  
            </td>            
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>
              <div [hidden]="editMode">
                {{profile.email}}
              </div>
              <div [hidden]="!editMode">
                <input type="email"  class="form-control" #Email="ngModel" [(ngModel)]="profile.email" name="email" id="email" placeholder="Enter email" required email>
                <div class="text-muted" *ngIf="Email.errors && (Email.dirty || Email.touched)">
                    <small [hidden]="!Email.errors.required">
                      Email is required
                    </small>
                    <small [hidden]="(Email.errors.required || !Email.errors.email)">
                      Please enter valid email address
                    </small>                                   
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td> Phone </td>
            <td>:</td>
            <td>
              <div [hidden]="editMode">
                {{profile.phone}}
              </div>

              <div [hidden]="!editMode">
                <input type="text"  class="form-control"  #Phone="ngModel" [(ngModel)]="profile.phone" name="phone" id="phone" placeholder="Enter phone no">
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>

        <div class="alert alert-danger" role="alert" [hidden]="!error">{{errorMsg}}</div>
      </div>
      <div class="login-footer" [hidden]="!editMode">
        <button type="submit" [disabled]="!profileForm.form.valid || formRequest" class="btn btn-secondary" >
           <i class="fa fa-spinner fa-spin fa-fw" [hidden]="!formRequest" ></i> Save
        </button>
      </div>
      </form>
  </div>
</div>